<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recipe Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="recipe" class="recipe-details">
          <h2>{{ recipe.recipe_name }}</h2>
          <p>ID: {{ recipe.id }}</p>
          <p>By: {{ recipe.user_email }}</p>
          <p>Difficulty: {{ recipe.difficulty }}</p>
          <p>Time: {{ recipe.time_in_min }} minutes</p>
          <p>Instructions: {{ recipe.instructions }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Actions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <button mat-stroked-button (click)="onEditRecipeClick(recipe)">Edit Recipe</button>
          <button mat-stroked-button (click)="onAddReviewClick(recipe)">Add Review</button>
          <button mat-stroked-button (click)="onEditReviewClick(recipe)">Edit Review</button>
          <button mat-stroked-button (click)="onDeleteReviewClick(recipe)">Delete Review</button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reviews</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="recipe" class="mat-table">
          <table>
            <thead>
            <tr>
              <th>ID</th>
              <th>Review</th>
              <th>Rating</th>
<!--              <th>Recipe ID</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let review of recipe.reviews">
              <td>{{ review.id }}</td>
              <td>{{ review.text }}</td>
              <td>{{ review.rating }}</td>
<!--              <td>{{ review.recipe_id }}</td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ingredients</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="recipe" class="mat-table">
          <table>
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredient of recipe.ingredients_list">
              <td>{{ ingredient.id }}</td>
              <td>{{ ingredient.name }}</td>
              <td>{{ ingredient.food_category }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
