<mat-form-field class="example-chip-list">
  <mat-label>Select Ingredients</mat-label>
  <mat-chip-grid #chipGrid aria-label="Fruit selection">
    @for (ingredient of ingredients; track ingredient) {
      <mat-chip-row (removed)="remove(ingredient)">
        {{ingredient.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input placeholder="Add Ingredient..." #ingredientInput [formControl]="ingredientCtrl"
         [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
         (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (ingredient of filteredIngredients | async; track ingredient) {
      <mat-option [value]="ingredient">{{ingredient.name}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

