<div>
  <button mat-button (click)="openCreateUser()">Create User</button>
  <table>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of this.userData">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.user_name}}</td>
      <td>{{user.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Delete a User</mat-card-title>
          <mat-card-subtitle>Submit a User Email to Delete</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form #userdeleteForm="ngForm" class="form-field-content">
            <mat-form-field>
              <mat-label>User Email</mat-label>
              <input required matInput [(ngModel)]="deleteUserId" name="Ingredient ID">
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="submitDeleteUser(deleteUserId)">Delete a Tool</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Update User</mat-card-title>
          <mat-card-subtitle>Update a User by Email</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form #userUpdateForm="ngForm" class="form-field-content">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input required matInput [(ngModel)]="updateUser.first_name" name="id">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input required matInput [(ngModel)]="updateUser.last_name" name="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input required matInput [(ngModel)]="updateUser.user_name" name="brand">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input required matInput [(ngModel)]="updateUser.email" name="brand">
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="submitUpdateUser(updateUser)">Update Tool</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
