<mat-card>
  <mat-card-header>
    <mat-card-title>Review</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-recipe-review-form *ngIf="!isDelete" [isEdit]="isEdit"></app-recipe-review-form>
    <div *ngIf="!isDelete">
      <button mat-stroked-button *ngIf="!isEdit" (click)="onCreateReview()">Create</button>
      <button mat-stroked-button *ngIf="isEdit" (click)="onUpdateReview()">Update</button>
    </div>
    <div *ngIf="isDelete">
      <mat-form-field class="form-component">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="deleteId" required>
      </mat-form-field>
      <button mat-stroked-button (click)="onDeleteReview()">Delete</button>
    </div>
  </mat-card-content>
</mat-card>
