mat-grid-tile {
  display: flex;
  position: absolute;
  overflow: hidden;
}

mat-card {
  display: flex;
  margin: 20px;
  margin-bottom: 50px;
  overflow: auto;
  height: 100%; // 100% of the parent's height
}

mat-card-content {
  display: flex;
  height: 100%; // 100% of the parent's height
  width: 100%; // 100% of the parent's width
  overflow: auto;
}

app-expandable-table {
  max-height: 100%; // 100% of the parent's height
  overflow-y: auto; // Add a vertical scrollbar when necessary
}
